/* ----------------------------- FONTS/IMPORTS  -----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ----------------------------- UNIVERSAL  -----------------------------*/

.heading-main {
    margin: 150px 0 50px 0;
    color: #12AAFB;
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;
}

.heading3 {
    color: #12AAFB;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
}

.heading1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.paragraph1 {
    width: 70%;
    margin: auto;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.cta-button {
    width: fit-content;
    background-color: #12AAFB;
    color: #FFF;
    border: none;
    border-radius: 50px;
    font-size: 25px;
    font-weight: 900;
    padding: 15px 30px;
    cursor: pointer;
    display: block;
    margin: 100px auto;
    transition: all 0.3s;
}

.cta-button:hover {
    background-color: #FFF;
    color: #0E0E0E;
    transition: all 0.3s;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-in-out;
}

.hidden-right {
    opacity: 0;
    transform: translateX(50px);
    transition: all 0.8s ease-in-out;
}

.hidden-left {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.8s ease-in-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border;
    font-family: Inter, Poppins;
    color: #FFF;
}

body {
    background-color: #0E0E0E;
    cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppins, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-family: inter, sans-serif;
}

.font-inter {
    font-family: inter, sans-serif;
}

.font-poppins {
    font-family: Poppins, sans-serif;
}

/* ----------------------------- NAVIGATION  -----------------------------*/

nav {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 2;
    transition: all 1s;
    transform: translateY(0);
    /* default state */
}

nav.scrolled {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}


#nav-content-container {
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}

#nav-logo {
    transition: all 0.8s;
    width: 80px;
    cursor: pointer;
}

#nav-logo:hover {
    transition: all 0.8s;
    opacity: 0.7;
}

#nav-item-container {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 100px;
}

.nav-item a {
    transition: all 0.3s;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-item a:hover {
    transition: all 0.3s;
    color: #12AAFB;
}

#nav-cta-btn {
    transition: all 0.3s;
    background-color: #FFF;
    color: #0E0E0E;
    border: none;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 900;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
}

#nav-cta-btn:hover {
    transition: all 0.3s;
    background-color: #12AAFB;
    color: #FFF;
}

#burger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger-line {
    width: 30px;
    height: 3px;
    background-color: #FFF;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.active .burger-line:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
}

.active .burger-line:nth-child(2) {
    opacity: 0;
}

.active .burger-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px);
}

#nav-item-container.active {
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
}

/* NAV SCROLLING */







/* Scroll-bar */

::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}


::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #FFF;
    height: min-content;
}


/* ----------------------------- FOOTER  -----------------------------*/

footer {
    border-top: solid #FFF;
    text-align: center;
    backdrop-filter: blur(5px);
}

#footer-div-container {
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.footer-div {
    width: 400px;
}

.footer-div img {
    height: 150px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    gap: 20px;
    text-align: left;
}

#copyright {
    margin: 30px;
    color: #A8A8A8;
}

.footer-links-icon-text {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.footer-links-icon-text img {
    transition: all 0.3s;
}

.footer-links-icon-text img:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.3s;
}

/* ----------------------------- Message conformation ----------------------------- */


#message-confirmation {
    height: 15%;
    width: 25%;
    position: fixed; /* fixed so it doesn’t move with scrolling */
    bottom: 10%; /* show near bottom */
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.message-confirmation-content {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    padding: 20px 20px 0px 0px;
    border-radius: 0 50px 10px  0;
    border: solid 2px #12AAFB;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.message-confirmation-hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 2s ease;
}

.message-confirmation-visible {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 2s ease;
}


.message-confirmation-content h2 {
    font-size: 26px;
    color: #0E0E0E;
    border-bottom: solid 3px #12AAFB;
}

.message-confirmation-content p {
    width: 70%;
    font-size: 16px;
    color: #0E0E0E;
}

/* ----------------------------- Media Queries ----------------------------- */
@media (max-width: 1400px) {
    #nav-item-container {
        gap: 50px;
    }

    .footer-div {
        width: 250px;
    }

    .footer-div img {
        height: 100px;
    }

}

@media (max-width: 1024px) {

    nav.scrolled {
        background-color: #0E0E0E;
        backdrop-filter: none;
        transition: all 0s;
    }

    nav.hide {
        transform: translateY(-100%);
        transition: all 1s;
    }

    .nav-item {
        margin: auto;
        padding: 5px 0px;
    }

    #burger-menu {
        display: flex;
    }

    #burger-menu:hover {
        cursor: pointer;
    }

    #nav-item-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 99px;
        width: 100%;
        background-color: #0E0E0E;
        padding: 25px;
        margin: auto;
        z-index: 2;
        transform: translateX(-100%);
        transition: all 0.5s ease-in-out;
    }

    #footer-div-container {
        height: auto;
        padding: 50px;
    }

    .footer-links {
        text-align: center;
        align-items: center;
    }

    .footer-links-icon-text {
        justify-content: center;
    }

    .footer-div {
        width: 300px;
    }

    .footer-div img {
        height: 100px;
    }

}

@media (max-width: 768px) {

    #footer-div-container {
        height: auto;
        padding: 20px 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px;
    }

    .footer-links-icon-text{
        gap : 0px;
        margin: 5px 0 0 0;
        padding: 0;
    }
    .footer-div {
        width: 120px;
        text-align: center;
        align-items: center;
        
    }

    .footer-div-heading{
        width: 90%;
        margin: 0 auto 20px auto;
    }

    .footer-div-heading h2{
        font-size: 20px;
    }

    .footer-div img {
        height: 80px;
        align-self: center;
    }

    .footer-links {
        gap: 10px;
        width: 60%;
        text-align: center;
        align-items: center;
    }

    .footer-links-text{
        display: block;
        width: 100%;
    }

    .footer-icon-heading{
        font-size: 16px;
    }

    .footer-links-heading {
        font-size: 16px;
    }

    .footer-links-icon-text h3 a{
        font-size: 14px;
    }

    #copyright {
        font-size: 10px;
        margin: 10px;
        color: #A8A8A8;
    }
}