/* Universal Classes */

html,
body {
    overflow-x: hidden;
}


/* ----------------------------- HERO SECTION  -----------------------------*/

/* sis nav vajadzigs */

/* #hero-container {
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    overflow-x: hidden;
} */

#hero-text-container {
    width: 72%;
    margin: auto;
    margin-top: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-text-container h3 {
    text-transform: uppercase;
    color: #12AAFB;
    font-size: 25px;
    font-family: inter, sans-serif;
    font-weight: 800;
}

#hero-text-container h1 {
    font-size: 80px;
    padding-bottom: 20px;
    font-family: poppins, inter;
    font-weight: 800;
}

#hero-text-container p {
    font-size: 25px;
    width: 47%;
    line-height: 150%;
}

#hero-cta-btn {
    transition: all 0.3s;
    background-color: #12AAFB;
    border: none;
    border-radius: 50px;
    margin-top: 60px;
    padding: 10px 25px;
    font-size: 30px;
    font-family: poppins, inter;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

#hero-cta-btn-arrow {
    width: 40px;
    height: 40px;
}

#hero-cta-btn:hover {
    transition: all 0.3s;
    background-color: #0E0E0E;
    color: #12AAFB;
    transform: translateX(10px);
}



/* ----------------------------- OUR SERVICES SECTION  -----------------------------*/

#services-container {
    width: 90vw;
    margin: auto;
    scroll-margin-top: 110px;
    text-align: center;
}

#services-div-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 75px;
}

.services-div {
    width: 450px;
    height: 400px;
    padding: 0 0 20px 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    transition: all 0.3s ease-in-out;
}

.services-div:hover {
    transform: translateY(-20px);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.75);
    transition: all 0.3s ease-in-out;
}

.services-div img {
    height: 80px;
    width: 80px;
}

.services-div h2 {
    font-size: 30px;
    font-weight: 700;
    width: 80%;
}

.services-div p {
    width: 80% !important;
    font-size: 19px !important;
    font-weight: 500;
    color: #DEDEDE;
}


/* ----------------------------- PRICING SECTION  -----------------------------*/


#pricing-container {
    width: 90vw;
    margin: auto;
    margin-top: 200px;
    scroll-margin-top: 110px;
}


#pricing-div-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    gap: 100px;
    margin-top: 75px;
}

.pricing-div {
    width: 500px;
    height: 550px;
    padding: 30px;
    border-top: solid #FFF 3px;
    border-bottom: solid #FFF 3px;
    backdrop-filter: blur(15px);
}

.pricing-div h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 20px 0 40px 0;
    text-align: left;
}

.pricing-div h1 span {
    font-size: 16px;
    font-weight: 500;
    color: #B8B8B8;
}

.pricing-div-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 140px;
}



.pricing-div-content span {
    width: 90%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    font-weight: 600;
    gap: 20px;
}

.pricing-div-content span img {
    height: 20px;
    width: 20px;
}

.pricing-div-content span p {
    font-size: 20px;
}

.not-included {
    color: rgba(255, 255, 255, 0.3);
}

/* ----------------------------- CLIENTS SECTION  -----------------------------*/

#clients-container {
    text-align: center;
    padding: 30px 30px 50px 30px;
    width: 55%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 0;
}

#clients-container h3 {
    font-size: 25px;
    margin-bottom: 35px;
}

#client-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}


.client-logo {
    width: 240px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.client-logo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    opacity: 0.9;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.client-logo img:hover {
    transform: scale(1.1);
    opacity: 1;
}

/* ----------------------------- ABOUT US SECTION  -----------------------------*/

#about-us-container {
    width: 90%;
    margin: 100px auto;
    scroll-margin-top: 110px;
    text-align: center;
}

#about-us-container h3 {
    color: #12AAFB;
    text-transform: uppercase;
    font-size: 25px;
}

#about-us-container h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

#about-us-div-container {
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 300px;
}

.person-div {
    width: 300px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.person-image {
    height: 230px;
    width: 230px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
}

.person-image-linards {
    background-image: url(/Images/linards.jpg);

}

.person-image-martins {
    background-image: url(/Images/martins.jpg);
}

.person-name {
    font-size: 32px;
}

.person-status {
    font-size: 20px;
    color: #B8B8B8;
    font-weight: 800;
}

.person-div-line {
    width: 90%;
    height: 3px;
    background-color: #12AAFB;
}

.person-text {
    margin-top: 10px;
    font-weight: 600;
}

@media (max-width: 1400px) {
    
    #hero-text-container {
        margin: 10% auto 10% auto;
        width: 80%;
    }

    #hero-text-container h3 {
        font-size: 20px
    }

    #hero-text-container h1 {
        font-size: 60px;
    }

    #hero-text-container p {
        font-size: 25px;
        width: 70%;
    }

    #about-us-div-container {
        gap: 150px;
    }
}

@media (max-width: 1024px) {
    #hero-text-container {
        width: 90%;
        height: fit-content;
        /* margin-bottom: 100px; */
        margin-top: 15%;
    }

    #hero-text-container h3 {
        font-size: 20px
    }

    #hero-text-container h1 {
        font-size: 60px;
    }

    #hero-text-container p {
        font-size: 25px;
        width: 70%;
    }

    #about-us-div-container {
        gap: 50px;
    }
}

@media (max-width: 768px) {
    #hero-text-container {
        width: 90%;
        margin-top: 20%;
    }

    #hero-text-container h3 {
        font-size: 20px
    }

    #hero-text-container h1 {
        font-size: 40px;
        width: 100%;
    }

    #hero-text-container p {
        font-size: 20px;
        width: 100%;
    }

    #hero-cta-btn {
        padding: 8px 15px;
        font-size: 20px;
        gap: 10px;
    }

    #hero-cta-btn-arrow {
        width: 25px;
        height: 25px;
    }


    #services-container {
        width: 90%;
    }

    #services-container h1 {
        font-size: 40px;
    }

    #services-container p {
        width: 100%;
    }

    .services-div {
        padding: 20px;
    }

    .services-div h2 {
        font-size: 28px;
    }

    .services-div p {
        width: 80%;
        font-size: 16px;
    }

    .services-div img {
        height: 60px;
        width: 60px;
    }

    .pricing-div h1 {
        font-size: 30px;
    }

    .pricing-div-content span p {
        font-size: 16px;
    }

    .pricing-div-content span img {
        height: 16px;
        width: 16px;
    }

    .pricing-div {
        backdrop-filter: blur(10px);
    }

    #pricing-container h1 {
        font-size: 40px;
    }

    #pricing-container p {
        width: 100%;
    }

    #clients-container {
        border-bottom: none;
        margin-bottom: auto;
        width: 90%;
        padding-left: 0;
        padding-right: 0;
    }

    #client-logo-container {
        gap: 50px;
    }

    .client-logo {
        width: 180px;
        height: 90px;
    }


    #about-us-container {
        margin: 100px auto;
    }

    #about-us-div-container {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
}

@media (max-width: 601px) {
    
    #hero-text-container{
        margin-top: 30%;
    }

    .pricing-div-content {
        margin-bottom: 100px;
    }

    .pricing-div {
        height: fit-content;
        padding-bottom: 0px;
    }
}