/* ----------------------------- THE INLINE VERSION -----------------------------*/


/* .paragraph {
    width: 70%;
    margin: auto auto 20px auto;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

#about-us-container {
    width: 90%;
    margin: 100px auto;
    scroll-margin-top: 110px;
    text-align: center;
}

#about-us-container h3 {
    color: #12AAFB;
    text-transform: uppercase;
    font-size: 25px;
}

#about-us-container h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
} */




/* ----------------------------- THREE BOXES SIDE BY SIDE -----------------------------*/

#paragraph-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;   /* boxes stay side by side */
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
}

.paragraph-box {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: transparent;

    text-align: center;
    align-items: center;

    border-top: solid white 1px;
    border-right: solid white 1px;
    border-left: solid white 1px;
    border-bottom: solid white 4px;
    backdrop-filter: blur(10px);

    height: 300px;
    overflow: hidden;

    transition: height 0.5s ease, transform 0.3s ease;
}

.paragraph-box h3 {
    width: 60%;
    font-size: 24px;
    padding: 5px;
    border-bottom: solid 4px #12AAFB;
}

.paragraph-box p {
    padding: 20px 0 0 0;
    width: 90%;
    font-size: 18px;
    font-weight: 400;
    margin: 0;             /* remove auto-centering */
}


/* Hover effect */
.paragraph-box:hover {
    transform: scale(1.05);
    height: 400px;
}

/* ----------------------------- PERSON SECTION -----------------------------*/

.person-heading{
    margin-top: 150px;
}

#about-us-div-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 100px;
}


.person-div {
    width: 500px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.person-image {
    height: 230px;
    width: 230px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
}

.person-image-linards {
    background-image: url(/Images/linards.jpg);

}

.person-image-martins {
    background-image: url(/Images/martins.jpg);
}

.person-name {
    font-size: 32px;
}

.person-status {
    font-size: 20px;
    color: #B8B8B8;
    font-weight: 800;
}

.person-div-line {
    width: 90%;
    height: 3px;
    background-color: #12AAFB;
}

.person-text {
    margin-top: 10px;
    font-weight: 600;
}

@media (max-width: 1024px) {
    #about-us-div-container {
        gap: 50px;
    }
}

@media (max-width: 768px) {
    #about-us-div-container {
        gap: 50px;
    }

    .person-div {
        width: 90%;
    }
}

