/* ----------------------------- THREE BOXES SIDE BY SIDE -----------------------------*/


#paragraph-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    margin: 0 auto;
    margin-top: 75px;
    padding: 0 1.5rem 4rem;
}

.paragraph-box {
    background: #0E0E0E;
    border-radius: 1rem;
    padding: 2rem;
    width: 25%;
    margin: auto;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
}

.paragraph-box:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
}

.paragraph-box h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #12AAFB; 
    margin-bottom: 1rem;
}

.paragraph-box p {
    font-size: 1rem;
    line-height: 1.6;
    color: #fff;
}


.person-links {
    height: 25px;
    opacity: 0.8;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 15px;
    transition: ease-in-out 0.3s;
}

.person-links:hover {
    opacity: 1;
    transform: scale(1.05);
    cursor: pointer;
}


/* ----------------------------- PERSON SECTION -----------------------------*/

.person-heading {
    text-align: center;
    scale: 1.3;
    width: fit-content;
    margin: auto;
}

.person-heading-container{
    width: 100%;
    margin-top: 100px;
}

#about-us-div-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 300px;
}


.person-div {
    width: 300px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.person-image {
    height: 230px;
    width: 230px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
}

.person-image-linards {
    background-image: url(/Images/linards.jpg);

}

.person-image-martins {
    background-image: url(/Images/martins.jpg);
}

.person-name {
    font-size: 32px;
}

.person-status {
    font-size: 20px;
    color: #B8B8B8;
    font-weight: 800;
}

.person-div-line {
    width: 90%;
    height: 3px;
    background-color: #12AAFB;
}

.person-text {
    margin-top: 10px;
    font-weight: 600;
}

/* ----------------------------- PERSON SECTION -----------------------------*/

#faq-container {
    width: 100%;
    padding: 50px 0 50px 0;
    scroll-margin-top: 110px;
    background-color: #0E0E0E;
    text-align: center;
}

#faq-div-container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    gap: 20px;
}

#faq-container h1 {
    margin: auto;
    width: fit-content;
    margin-bottom: 50px;
    border-bottom: solid 1px #12AAFB;
}

details.faq-div {
    width: 70%;
    border: #fff 1px solid;
    border-radius: 10px;
    padding: 30px 40px;
    transition: all 0.3s ease-in-out;
}

::details-content {
    transition: height 0.5s ease, content-visibility 0.5s ease allow-discrete;
    height: 0;
    overflow: clip;
}

@supports (interpolate-size: allow-keywords) {
    :root {
        interpolate-size: allow-keywords;
    }

    [open]::details-content {
        height: auto;
    }
}

summary.faq-question {
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

summary.faq-question:hover {
    color: #12AAFB;
    transition: all 0.3s ease-in-out;
}

summary.faq-question::-webkit-details-marker {
    display: none;
}


details.faq-div[open] summary.faq-question {
    color: #12AAFB;
    padding-bottom: 15px;
}

details.faq-div p {
    font-weight: 500;
    color: #DEDEDE;
    line-height: 150%;
    border-left: solid 4px #12AAFB;
    backdrop-filter: blur(10px);
    padding-left: 15px;
    margin-left: 6.5px;
}


/* ----------------------------- MEDIA QUERIES -----------------------------*/

@media (max-width: 1400px) {

    .paragraph-box {
        width: 30%;
    }

    #about-us-div-container {
        gap: 150px;
    }
}

@media (max-width: 1024px) {

    #paragraph-container {
        gap: 70px;
    }

    .paragraph-box {
        width: 400px;
    }

    #about-us-div-container {
        gap: 50px;
    }


}

@media (max-width: 768px) {

    .heading-main {
    font-size: 2.2rem;
    }

    #hero-content-container h2 {
        font-size: 1.25rem;
    }

    .page-paragraph{
        width: 90%;
    }

    #paragraph-container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .paragraph-box {
        padding: 1.5rem;
        width: 60%;}

    #about-us-div-container {
        gap: 30px;
    }
    
    #faq-container {
        
    }

    #faq-container h1 {
        font-size: 24px;
    }

    #faq-div-container {
        width: 100%;
    }
    
}

@media (max-width: 601px) {
    .paragraph-box {
        width: 90%;
    }


    .paragraph-box:hover {
        height: 400px;
    }

}