/* ----------------------------- THREE BOXES SIDE BY SIDE -----------------------------*/

#hero-content-container h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

#paragraph-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    margin: 0 auto;
    padding: 0 1.5rem 4rem;
}

.paragraph-box {
    background: #0E0E0E;
    border-radius: 1rem;
    padding: 2rem;
    width: 25%;
    margin: auto;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
}

.paragraph-box:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
}

.paragraph-box h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #12AAFB; 
    margin-bottom: 1rem;
}

.paragraph-box p {
    font-size: 1rem;
    line-height: 1.6;
    color: #fff;
}


.person-links {
    scale: 0.5;
    opacity: 0.8;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 15px;
}

.person-links:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: all 0.3s;
}


/* ----------------------------- PERSON SECTION -----------------------------*/

.person-heading {
    margin-top: 150px;
}

#about-us-div-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 300px;
}


.person-div {
    width: 300px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.person-image {
    height: 230px;
    width: 230px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
}

.person-image-linards {
    background-image: url(/Images/linards.jpg);

}

.person-image-martins {
    background-image: url(/Images/martins.jpg);
}

.person-name {
    font-size: 32px;
}

.person-status {
    font-size: 20px;
    color: #B8B8B8;
    font-weight: 800;
}

.person-div-line {
    width: 90%;
    height: 3px;
    background-color: #12AAFB;
}

.person-text {
    margin-top: 10px;
    font-weight: 600;
}

/* ----------------------------- MEDIA QUERIES -----------------------------*/

@media (max-width: 1400px) {

    .paragraph-box {
        width: 30%;
    }

    #about-us-div-container {
        gap: 150px;
    }
}

@media (max-width: 1024px) {

    #paragraph-container {
        gap: 70px;
    }

    .paragraph-box {
        width: 400px;
    }

    #about-us-div-container {
        gap: 50px;
    }


}

@media (max-width: 768px) {

      .heading-main {
    font-size: 2.2rem;
    }

    #hero-content-container h2 {
        font-size: 1.25rem;
    }

    #paragraph-container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .paragraph-box {
        padding: 1.5rem;
        width: 60%;}

    #about-us-div-container {
        gap: 30px;
    }

    
}

@media (max-width: 601px) {
    .paragraph-box {
        width: 90%;
    }


    .paragraph-box:hover {
        height: 400px;
    }

}