*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

/* ----------------------------- Main -----------------------------*/
#structure-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 100px; */
    width: 70%;
    margin: 0 auto 100px auto;
    backdrop-filter: blur(10px);
    padding: 20px 100px;;
}

hr{
    width: 100%;
}
/* ----------------------------- Boxes -----------------------------*/

.structure-box{
    max-width: 1600px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    text-align: center;
    /* border-bottom: #ffffff 3px solid; */
}

.structure-box-text{
    height: 100%;
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: left;
    /* border: red 1px solid; */
}

.structure-box-number{
    height: 100%;
    /* width: 40%; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ----------------------------- Numbers -----------------------------*/

.sn1{
    background-image: url("/Images/contactUs.JPG");
    background-size: cover;
    background-position: -100px -180px;
    background-size: 500px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;

}
.sn2{
    background-image: url("/Images/code.png");
    background-size: cover;
    background-position: 20px -300px;
    background-size: 500px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}
.sn3{
    background-image: url("/Images/payment.jpg");
    background-size: cover;
    background-position: -50px;
    background-size: 600px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}
.sn4{
    background-image: url("/Images/laptop.jpg");
    background-size: cover;
    background-position: -200px -20px;
    background-size: 1000px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

/* ----------------------------- Box left -----------------------------*/

.sbox-left .structure-box-text{
    padding-left: 40px;
}

/* ----------------------------- Box right -----------------------------*/

.sbox-right .structure-box-text{
    padding-right: 40px;
}


/* ----------------------------- Text -----------------------------*/

.structure-box-heading{
    width: 100%;
    font-size: 40px;
}
.structure-box-p{
    font-size: 16px;
    width: 100%;
}

.structure-div-line {
    width: 20%;
    height: 3px;
    background-color: #12AAFB;
}

.structure-numbers{
    
    font-size: 27rem;
    /* color: #12a9fbc9; */ /*#12a9fb*/
    /* text-shadow: #ffffff31 0px 0px 10px; */
    font-weight: 800;
}

/* ----------------------------- Media -----------------------------*/